/* CSS Document */

/* =======================   SPACE FILLERS     ============================== */

.hfill80, .hfill120, .hfill500 {
  display: table-cell;
}

.hfill80  { width: 80px; }
.hfill120 { width: 120px; }
.hfill500 { width: 500px; }

.vfill5, .vfill10, .vfill15, .vfill25, .vfill35, .vfill50, .vfill75, .vfill100 {
  width: 1px;
  margin-left: auto ;
  margin-right: auto ;
}

.vfill5   { height: 5px;  } 
.vfill10  { height: 10px; } 
.vfill15  { height: 15px; } 
.vfill25  { height: 25px; } 
.vfill35  { height: 35px; } 
.vfill50  { height: 50px; }
.vfill75  { height: 75px; }
.vfill100 { height: 100px; }

