/* CSS Document */

/* =======================   SPACE FILLERS     ============================== */
.hfiller_narrow {
  width: 80px;
  display: table-cell;
}

.hfiller_narrowplus {
  width: 100px;
  display: table-cell;
}

.hfiller_medium {
  width: 120px;
  display: table-cell;
}

.hfiller_wide {
  width: 500px;
  display: table-cell;
}

vfiller_ittybitty {
  height: 5px;
}

.vfiller_tinytiny {
  height: 10px;
}

.vfiller_tiny {
  height: 15px;
}

.vfiller_small {
  height: 25px;
}

.vfiller_smallplus {
  height: 35px;
}

.vfiller_medium {
  height: 50px;
}

.vfiller_large {
  height: 75px;
}

.vfiller_huge {
  height: 100px;
}

