/* CSS Document */

/* =======================   GENERAL OBJECTS   ============================== */
body {
  background-color: #fafafa;
  padding: 0px;
  margin: 0px;
  font-family: 'muliregular', Arial, sans-serif;
  font-size: 15px;
}

/*div { border: 1px solid red; }*/

a:link, a:visited, a:hover, a:active {
  text-decoration: none;
  color: black;
}

.maxout {
  height: 100%;
  width: 100%;
}

.button {
  width: 120px;
  height: 40px;
  line-height: 40px;
  vertical-align: middle;
  color: white;
  border: solid 2px #084ad1;
  margin-left: auto ;
  margin-right: auto ;
  text-align: center;
  border-radius: 25px;
  background: rgba(8, 74, 209, 0.2);*/
  font-weight: bold;
}

.dark_layer {
  background: rgba(0, 0, 0, 0.55);
}

.verydark_layer {
  background: rgba(0, 0, 0, 0.9);
}

.superdark_layer {
  background: rgba(0, 0, 0, 0.95);
}

.light_layer {
  background: rgba(1, 1, 1, 0.75);
}

/* =======================       SECTIONS      ============================== */

.section_menu {
  width: 100%;
  max-width: 1660px;
  margin-left: auto ;
  margin-right: auto ;
  display: table;
  height: 30px;
  line-height: 30px;
  vertical-align: middle;
  border-top: 1px solid purple;
  border-bottom: 1px solid purple;
}

.section_top {
  width: 100%;
  max-width: 1660px;
  margin-left: auto ;
  margin-right: auto ;
  text-align: center;
  display: table;
  height: 50px;
  line-height: 50px;
  vertical-align: middle;
  background-color: white;
}

.section_name {
  display: table;
  height: 50px;
  /*line-height: 50px;*/
  vertical-align: middle;
  background-color: white;
  text-align: center;
  margin-left: auto ;
  margin-right: auto ;
}

.section_welcome {
  width: 100%;
  display: table;
  height: 450px;
  vertical-align: middle;
  text-align: center;
  color: white;
  background-color: grey;
  background-image: url("../images/photo-of-people-beside-table-3734617_large.jpg");
  background-repeat: no-repeat;
  /*background-attachment: fixed;*/
  background-position: center;
}

.section_about {
  width: 100%;
  display: table;
  vertical-align: middle;
  background-color: #161616;
  /*background-image: url("../images/action-blur-bulb-dark-355904_large.jpg");*/
  background-repeat: no-repeat;
  /*background-attachment: fixed;*/
  background-position: center;
}

.section_services {
  width: 100%;
  display: table;
  vertical-align: middle;
  background-color: #444444;
  background-image: url("../images/brown-book-page-1112048_large.jpg");
  background-repeat: no-repeat;
  /*background-attachment: fixed;*/
  background-position: center;
}

.section_contact {
  width: 100%;
  display: table;
  vertical-align: middle;
  background-color: black;
  background-image: url("../images/email-blocks-on-gray-surface-1591062_large.jpg");
  background-repeat: no-repeat;
  /*background-attachment: fixed;*/
  background-position: center;
  color: white;
}

.section_contact a:link, .section_contact a:visited, .section_contact a:hover, .section_contact a:active {
  color: white;
}

.section_footer {
  width: 100%;
  display: table;
  height: 35px;
  line-height: 35px;
  vertical-align: middle;
  border-top: 1px solid purple;
  border-bottom: 1px solid purple;
  background-color: #fff9fc;
}

/* =======================     TOP SECTION     ============================== */

.menu_link {
  width: 130px;
  display: table-cell;
  height: 30px;
  line-height: 30px;
  vertical-align: middle;
  text-align: center;
  font-size: 14px;
}

.top_contact_info_left, .top_contact_info_left {
  width: 200px;
  display: table-cell;
}

.top_contact_info_left {
  text-align: left;
}

.top_contact_info_right {
  text-align: right;
}

/* =======================    TEXT OBJECTS     ============================== */

.text_name {
  font-family: oswaldregular;
  font-size: 25px;
}

.text_huge, .text_highlight, .text_about_signature, .text_about_signature_who {
  max-width: 650px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 120%;
}

.text_huge {
  font-family: oswaldregular;
  font-weight: bold;
  font-size: 40px;
  color: #084af1;
}

.text_highlight {
  font-style: italic;
}

/* ------------------------------------ */

.text_about {
  max-width: 750px;
  margin-left: auto ;
  margin-right: auto ;
  text-align: center;
  font-style: italic;
  line-height: 30px;
  font-size: 110%;
  color: white;
}

.text_about_signature {
  font-weight: bold;
  color: white;
}

.text_about_signature_who {
  font-style: italic;
  color: white;
}

/* ------------------------------------ */

.text_info {
  max-width: 750px;
  margin-left: auto ;
  margin-right: auto ;
  text-align: center;
  font-size: 120%;
  line-height: 30px;
}

.text_services_list {
  max-width: 900px;
  margin-left: auto ;
  margin-right: auto ;
  text-align: center;
  color: white;
  text-align: left;
  line-height: 30px;
  font-size: 120%;
}

.text_services_lastline {
  font-style: italic;
  text-align: center;
}

.text_contact_info {
  width: 300px;
  height: 50px;
  line-height: 50px;
  vertical-align: middle;
  margin-left: auto ;
  margin-right: auto ;
  text-align: center;
}

.text_footer {
  text-align: left;
}
