
/* =======================   GENERAL OBJECTS   ============================== */
body {
  background-color: #fafafa;
  padding: 0pt;
  margin: 0pt;
  font-family: 'muliregular', Arial, sans-serif;
  font-size: 13pt;
  text-align: center;
}

/*div { border: 1pt solid red; }*/

.menu_link a:link, .menu_link a:visited, .menu_link a:hover, .menu_link a:active {
  text-decoration: none;
  color: black;
}

a a:link, a:visited, a:hover, a:active {
  text-decoration: none
  color: green;
}

.maxout {
  height: 100%;
  width: 100%;
}

.button {
  width: 120pt;
  height: 40pt;
  font-size: 15pt;
  font-weight: bold;
  line-height: 40pt;
  vertical-align: middle;
  color: white;
  border: solid 2pt #084ad1;
  margin-left: auto ;
  margin-right: auto ;
  text-align: center;
  border-radius: 25pt;
  background: rgba(8, 74, 209, 0.2);
}

.dark_layer {
  background: rgba(0, 0, 0, 0.55);
}

.verydark_layer {
  background: rgba(0, 0, 0, 0.9);
}

.superdark_layer {
  background: rgba(0, 0, 0, 0.95);
}

.light_layer {
  background: rgba(1, 1, 1, 0.75);
}

/* =======================       SECTION MENU      ============================== */

.section_menu {
  width: 100%;
  max-width: 1660pt;
  margin-left: auto ;
  margin-right: auto ;
  display: table;
  height: 30pt;
  line-height: 30pt;
  vertical-align: middle;
  border-top: 1pt solid purple;
  border-bottom: 1pt solid purple;
}

/* =======================       SECTION  TOP      ============================== */

.section_top {
  width: 100%;
  max-width: 1660pt;
  margin-left: auto ;
  margin-right: auto ;
  text-align: center;
  display: table;
  height: 5pt;
  line-height: 50pt;
  vertical-align: middle;
  background-color: white;
}

/* =======================       SECTION  NAME     ============================== */

.section_name {
  width: 100%;
  display: table;
  /*height: 30pt;*/
  /*line-height: 50pt;*/
  vertical-align: middle;
  background-color: white;
  text-align: center;
  margin-left: auto ;
  margin-right: auto ;
}

/* =======================      SECTION  WELCOME     ============================ */

.section_welcome {
  width: 100%;
  display: table;
  vertical-align: middle;
  text-align: center;
  color: white;
  background-color: grey;
  background-image: url("../images/photo-of-people-beside-table-3734617_large.jpg");
  background-repeat: no-repeat;
  /*background-attachment: fixed;*/
  background-position: center;
}

.section_welcome a:link, .section_welcome a:visited, .section_welcome a:hover, .section_welcome a:active {
  color: white;
}

/* =======================       SECTION ABOUT     ============================== */

.section_about {
  width: 100%;
  display: table;
  vertical-align: middle;
  background-color: #161616;
  /*background-image: url("../images/action-blur-bulb-dark-355904_large.jpg");*/
  background-repeat: no-repeat;
  /*background- attachment: fixed;*/
  background-position: center;
}

.section_about a:link, .section_about a:visited, .section_about a:hover, .section_about a:active {
  color: white;
}

/* =======================       SECTION SERVICES    ============================ */

.section_services {
  width: 100%;
  display: table;
  vertical-align: middle;
  background-color: #444444;
  background-image: url("../images/brown-book-page-1112048_large.jpg");
  background-repeat: no-repeat;
  /*background-attachment: fixed;*/
  background-position: center;
}

.section_services a:link, .section_services a:visited, .section_services a:hover, .section_services a:active {
  color: white;
}

/* =======================       SECTION CONTACT     ============================ */

.section_contact {
  width: 100%;
  display: table;
  vertical-align: middle;
  background-color: black;
  background-image: url("../images/email-blocks-on-gray-surface-1591062_large.jpg");
  background-repeat: no-repeat;
  /*background-attachment: fixed;*/
  background-position: center;
  color: white;
}

.section_contact a:link, .section_contact a:visited, .section_contact a:hover, .section_contact a:active {
  color: white;
}

/* =======================       SECTION FOOTER      ============================ */

.section_footer {
  width: 100%;
  display: table;
  height: 35pt;
  line-height: 35pt;
  vertical-align: middle;
  border-top: 1pt solid purple;
  border-bottom: 1pt solid purple;
  background-color: #fff9fc;
}

/* =======================     TOP SECTION     ============================== */

.menu_link {
  width: 130pt;
  display: table-cell;
  height: 30pt;
  line-height: 30pt;
  vertical-align: middle;
  text-align: center;
  font-size: 14pt;
}

.top_contact_info_left, .top_contact_info_left {
  width: 200pt;
  display: table-cell;
}

.top_contact_info_left {
  text-align: left;
}

.top_contact_info_right {
  text-align: right;
}

/* =======================    TEXT OBJECTS     ============================== */

.text_name {
  width: 100%;
  font-size: 25pt;
  font-family: oswaldregular;
}

.text_motto {
  width: 100%;
  font-size: 17pt;
  font-family: oswaldregular;
}

.text_huge, .text_highlight, .text_about_signature, .text_about_signature_who {
  max-width: 650pt;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 120%;
}

.text_huge {
  font-family: oswaldregular;
  font-weight: bold;
  font-size: 40pt;
  color: #084af1;
}

.text_highlight {
  font-style: italic;
}

/* ------------------------------------ */

.text_about {
  max-width: 750pt;
  margin-left: auto ;
  margin-right: auto ;
  text-align: center;
  font-style: italic;
  line-height: 30pt;
  font-size: 110%;
  color: white;
}

.text_about_signature {
  font-weight: bold;
  color: white;
}

.text_about_signature_who {
  font-style: italic;
  color: white;
}

/* ------------------------------------ */

.text_info {
  max-width: 750pt;
  margin-left: auto ;
  margin-right: auto ;
  text-align: center;
  font-size: 120%;
  line-height: 30pt;
}

.text_services_list {
  max-width: 900pt;
  margin-left: auto ;
  margin-right: auto ;
  text-align: center;
  color: white;
  text-align: left;
  line-height: 30pt;
  font-size: 120%;
}

.text_services_lastline {
  font-style: italic;
  text-align: center;
}

.text_contact_info {
  width: 300pt;
  height: 50pt;
  font-size: 20pt;
  line-height: 50pt;
  vertical-align: middle;
  margin-left: auto ;
  margin-right: auto ;
  text-align: center;
}

.text_footer {
  text-align: left;
}
